params.in = "$baseDir/fastq/*.fastq.gz"
params.validate = false
params.root_output_dir = "nf_output"


profiles {
    local {
        includeConfig 'config/local.config'
    }

    conda {
    	includeConfig 'config/conda.config'
    }

    singularity {
        singularity.enabled = true
        includeConfig 'config/docker.config'
    }

    docker {
        includeConfig 'config/docker.config'
    }
}
